// style/variables.scss
$primary-color-main: #2196f3;
$primary-color-light: #4dabf5;
$primary-color-dark: #1769aa;
$primary-color-transparent: #4dabf533;

$secondary-color-main: #e91e63;
$secondary-color-light: #ed4b82;
$secondary-color-dark: #a31545;
$secondary-color-transparent: #ed4b8233;

$white-color: #ffffff;
$black-color: #000000;
$grey-color: #b2b2b2;
$light-grey-color: #ccccd9;

$small-spacing: 0.5rem;
$medium-spacing: 1rem;
$large-spacing: 2rem;

$mobile-breakpoint: 600px;
$tablet-breakpoint: 960px;
$desktop-breakpoint: 1280px;
