@import "../../styles/variables";

.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white-color;
  display: flex;
  justify-content: flex-end;
}
.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $small-spacing;
  .button {
    margin: 0 $medium-spacing;
  }
}
